- content_for :page_title do
  SERVICE

%section.service
  - @services.each do |service|
    %section.two-column-content
      .two-column-content__title-wrapper
        %h2.two-column-content__second-heading
          = link_to service do
            = service.title
      .two-column-content__inner
        = service.description
