$block: articles-article
.articles__wrapper
  +rem('max-width', 680px)
  +side-mg-auto
.#{$block}
  +relative(1)
  +rem('padding-left', 114px)
  +rem('padding-bottom', 50px)
  +rem('margin-bottom', 50px)
  +box-sizing(border-box)
  +clearfix
  +border(bottom, 1px, solid, rgba(0, 0, 0, .08), white)
.#{$block}__title-link
  color: $black
  +text-block(28px, 1.6)
  +bold-ja
  text-decoration: none
  &:hover
    color: $pink
.#{$block}__meta
  +absolute(left, 0, top, 0)
  +rem('width', 88px)
  text-align: center
.#{$block}__author-icon-image
  +rem('width', 40px)
  +border-radius(50%)
  display: block
  +side-mg-auto
  +rem('margin-bottom', 4px)
.#{$block}__author-name
  display: block
  +tauri(bold)
  +text-block(12px, 1.6)
.#{$block}__created-at
  +text-block(16px, 1.4, 6px)
  color: $gray
  +montserrat
  display: block
.#{$block}__tags
  +rem('padding-top', $md * .4)
  li
    +inline-block
    +rem('margin-right', $md * .6)
  a
    +inline-block
    +rem('font-size', $xs)
    color: $black
    +hover-link
    &:before
      +fa
      content: "\f02b"
      +rem('margin-right', $xs * .4)
