.article__wrapper
  padding-top: 2.6em
  @media screen and (max-width: #{$break-point})
    padding-top: 0

.article__content
  position: relative
  margin-bottom: 2em

.article__content-inner
  +rem('max-width', 680px)
  +side-mg-auto

.article__title
  +text-block($xxxxxxxl, 1.4, .8)
  margin-left: -0.1em
  margin-right: -0.1em
  +bold-ja
.article__title-link
  color: $black
  text-decoration: none
  cursor: default

.article__body
  +rem('font-size', $lg)
  h4
    +text-block(24px, 1.6, .9)
    +bold-ja
  p
    +text-block($lg, 1.9, 1.7)
  ul,
  ol
    +rem('margin-bottom', $lg*1.7)
    +rem('margin-left', $lg*1.4)
  ul
    list-style: disc
  ol
    list-style: decimal
  li
    +rem('margin-bottom', $lg*.6)
    +text-block($lg, 1.6)
    &:last-child
      margin-bottom: 0
  a
    color: $pink
    +hover-link
  img
    display: block
    +side-mg-auto
    max-width: 120%
  blockquote
    position: relative
    padding-left: 1.8em
    border-left: 8px solid rgba(0, 0, 0, .1)
  *
    &:last-child
      margin-bottom: 0

.article__informations
  margin-bottom: 1.4em
.article__author-icon-image
  +square-block(32px)
  +border-radius(50%)
  +inline-block
  margin-right: .2em
.article__author-name
  display: block
  +rem('font-size', $lg)
  +tauri
  +inline-block
  margin-right: .6em
.article__created-at
  font-weight: normal
  +rem('font-size', $sm)
  +inline-block
  +rem('padding-top', $lg - $sm)
  color: $gray

.article__tags
  display: inline
  ul
    display: inline
  li
    +inline-block
  a
    display: block
    text-align: left
    +text-block($sm)
    +rem('padding-top', $lg - $sm)
    color: $black
    +hover-link
    &:before
      +fa
      content: "\f02b"
      margin-right: .4em

.article__nav
  +rem('padding-top', 40px)
.article__nav-item
  +inline-block(bottom)
  +rem('margin-bottom', 10px)
  &.is-previous
    text-align: left
    width: 50%
  &.is-next
    text-align: right
    width: 50%
  &.is-back
    text-align: center
    width: 100%
    +rem('margin-top', 20px)

.article__nav-link
  display: block
  +relative
  &.is-previous
    +rem('padding-left', 30px)
  &.is-next
    +rem('padding-right', 30px)
.article__nav-link-icon
  &.is-previous
    +absolute(left, 0, top, 0)
  &.is-next
    +absolute(right, 0, top, 0)
.article__nav-link-text
  +ellipsis
  display: block
.article__footer
  padding-top: 3em

.back-to-articles-link
  +button-base(14px, 32px, bold, 100px, true, true)
  border: $pink solid 2px
  color: $pink
