.articles__wrapper
  +rem('max-width', 680px)
  +side-mg-auto
.articles-article
  +relative(1)
  +rem('margin-bottom', 80px)
  +box-sizing(border-box)
  +clearfix
.articles-article__inner
  +relative(1)
  +clearfix
.articles-article__meta
.articles-article__informations
  +box-sizing(border-box)
.articles-article__eyecatch-image-wrapper
  display: block
  float: left
  width: 30%
  +rem('padding-right', 32px)
  +box-sizing(border-box)
.articles-article__eyecatch-image
  width: 100%
.articles-article__title-link
  color: $black
  +text-block(22px, 1.5)
  +bold-ja
  text-decoration: none

  &:hover
    color: $pink
.articles-article__author-icon-image
  +rem('width', 32px)
  +border-radius(50%)
  +inline-block
.articles-article__author-name
  +inline-block
  +tauri
.articles-article__created-at
  +text-block(16px, 1.4, 6px)
  color: $gray
  +montserrat
  display: block
  +rem('padding-top', 4px)
.articles-article__tags
  +rem('padding-top', $md * .4)
  li
    +inline-block
    +rem('margin-right', $md * .6)
  a
    +inline-block
    +rem('font-size', $xs)
    color: $black
    +hover-link
    &:before
      +fa
      content: "\f02b"
      +rem('margin-right', $xs * .4)
