.articles-article
  +box-sizing(border-box)
  +relative(1)
  +rem('margin-bottom', 30px)
  width: 50%
  float: left
  +clearfix
  &.is-odd
    +rem('padding-right', 10px)
  &.is-even
    +rem('padding-left', 10px)
.articles-article__inner
  border: $black solid 1px
  +rem('height', 220px)
  +rem('padding', 10px)
  +relative(1)
  +clearfix
.articles-article__meta
.articles-article__informations
  width: 50%
  float: left
  +box-sizing(border-box)
  +rem('padding-right', 20px)
.articles-article__eyecatch-image-wrapper
  width: 50%
  display: block
  float: left
.articles-article__eyecatch-image
  width: 100%
.articles-article__title-link
  color: $black
  display: block
  overflow: hidden
  +text-block(24px, 1.5, .4)
  +bold-ja
  text-decoration: none
  &:hover
    color: $pink
.articles-article__author-icon-image
  +rem('width', 50px)
  +border-radius(50%)
  +inline-block
.articles-article__created-at
  +rem('font-size', 16px)
  color: $gray
  +tauri
  font-weight: bold
.articles-article__tags
  +rem('padding-top', $md * .4)
  li
    +inline-block
    +rem('margin-right', $md * .6)
  a
    +inline-block
    +rem('font-size', $xs)
    color: $black
    +hover-link
    &:before
      +fa
      content: "\f02b"
      +rem('margin-right', $xs * .4)
