.contact-form
.contact-form__field
  +rem('margin-bottom', 30px)
  +relative(1)
  +rem('padding-left', 140px)
.contact-form__label
  display: block
  +rem('width', 120px)
  text-align: right
  +rem('font-size', 14px)
  +absolute(left, 0, top, 0)
.contact-form__label-required-icon
  +rem('font-size', 6px)
  color: $pink
.contact-form__text-input,
.contact-form__textarea
  border: rgba(0, 0, 0, .2) solid 1px
  +rem('width', 430px)
.contact-form__textarea
  +rem('height', 460px)
.field_with_errors
  .contact-form__text-input,
  .contact-form__textarea
    border: rgba($pink, .4) solid 1px
    background-color: lighten($pink, 45%)
.contact-form__action
  @extend .reset-ul
.contact-form__fields-title
  text-align: center
  i
    display: block
    +rem('font-size', 60px)
.contact-form__action-send
  border: $pink solid 4px
  color: $pink
  +rem('line-height', 36px)
  +rem('font-size', 20px)
  +rem('padding', 0 36px)
  display: block
  +side-mg-auto
  +tauri
  &:hover
    border: $pink solid 4px
    color: $white
    background-color: $pink
