$block: contact-form

.#{$block}__field
  +rem('margin-bottom', 30px)
  +relative(1)
  +rem('padding-left', 140px)
.#{$block}__label
  display: block
  +rem('width', 120px)
  text-align: right
  +text-block(14px, 28px)
  +absolute(left, 0, top, 0)
.#{$block}__label-required-icon
  +rem('font-size', 6px)
  +top(-4px)
.#{$block}__text-input,
.#{$block}__textarea
  +border(all, 1px, solid, rgba(0, 0, 0, .2), white)
  width: 100%
  +text-block(16px, 28px)
.#{$block}__textarea
  +rem('height', 460px)
.field_with_errors
  .#{$block}__text-input,
  .#{$block}__textarea
    border: rgba($pink, .4) solid 1px
.#{$block}__fields-title
  text-align: center
  i
    display: block
    +rem('font-size', 60px)
.#{$block}__action-send
  border: $pink solid 4px
  color: $pink
  +rem('line-height', 36px)
  +rem('font-size', 20px)
  display: block
  +rem('width', 140px)
  +side-mg-auto
  +tauri
  &:hover
    border: $pink solid 4px
    color: $white
    background-color: $pink
