.article-global-nav
  +absolute(left, 0, top, 40px)
.article-global-nav__logo
  +inline-block
.article-global-nav__logo-link
  +tauri
  font-weight: bold
  text-decoration: none
  +text-block(30px, 30px)
  vertical-align: text-bottom
.article-global-nav__ul
  +inline-block
.article-global-nav__li
  +inline-block
.article-global-nav__link
  +tauri
  font-weight: bold
  text-decoration: none
  +text-block(16px, 30px)
  vertical-align: text-bottom

