.page__title
  background-color: $black
  +rem('margin-top', 60px)
  +rem('margin-bottom', 28px)
  +transition-duration(0)
  @media screen and (max-width: #{$break-point})
    background-color: $yellow
    +rem('margin-top', 20px)
    +rem('margin-bottom', 14px)
    border-left: $black solid 10px
  &.is-actived
    +rem('margin-top', 120px)
    @media screen and (max-width: #{$break-point})
      +rem('margin-top', 20px)
.page__title-wrapper
  position: relative
.page__first-heading
  background-color: $yellow
  +inline-block
  +text-block($xl, 3)
  +rem('width', 180px)
  text-align: center
  +tauri
  color: $black
  font-weight: bold
  @media screen and (max-width: #{$break-point})
    +text-block($lg, 2.4)
    width: auto
    text-align: left
