.page__title
  background-color: $black
  +rem('margin-top', 60px)
  +rem('margin-bottom', 28px)
  +transition-duration(0)
  &.is-actived
    +rem('margin-top', 120px)
.page__title-wrapper
  position: relative
.page__first-heading
  background-color: $yellow
  +inline-block
  +text-block($xl, 3)
  +rem('width', 180px)
  text-align: center
  +tauri
  color: $black
  font-weight: bold
