$block: two-column-content

.#{$block}
  +rem('padding-left', 178px)
  +clearfix
  position: relative
  +screen-xs
    padding-left: 0
  &:last-child
    .#{$block}__inner
      margin-bottom: 0
      padding-bottom: 0
  .#{$block}__inner
    *:last-child
      margin-bottom: 0

.#{$block}__inner
  +border(left, 1px solid rgba(0, 0, 0, .1))
  +rem('padding-left', 32px)
  +rem('padding-bottom', 38px)
  +box-sizing(border-box)
  +clearfix
  +screen-xs
    padding-left: 0
    border-left: none
  p
    +text-block($md 1.8 1.4em)

.#{$block}__title-wrapper
  +rem('width', 180px)
  +absolute(left 0, top 0)
  +rem('padding-right', 30px)
  +box-sizing(border-box)
  &.members__title-wrapper
    padding-right: 0
  +screen-xs
    position: static
    width: 100%

.#{$block}__first-heading
  background-color: $yellow
  +inline-block
  +text-block($xl 3, bold center $black)
  +rem('width', 180px)
  +tauri

.#{$block}__second-heading
  +tauri
  +text-block($lg 1.4 .4em, bold center)
  +screen-xs
    text-align: left
  &.members__member-name
    text-align: center
    margin-bottom: .6em
.#{$block}__second-heading-link
  +hover-link
  color: $black
