.staff-fields__field
  +rem('margin-bottom', 40px)
.staff-fields__label
  display: block
  font-weight: bold
  +rem('font-size', $sm)
.staff-fields__markdown
  width: 50%
.markdown-preview
  +absolute(right, 0, top, 0)
  width: 50%
.staff-fields__body
  width: 100%
  height: 800px
  border: $black solid 1px
  +box-sizing(border-box)
  +rem('margin-top', -1px)
.staff-fields__text
  width: 50%
  border: $black solid 1px
  +box-sizing(border-box)
