.staff-fields__field
  +rem('margin-bottom', 40px)
.staff-fields__label
  display: block
  +text-block($sm 26px, bold)
.staff-fields__markdown
  width: 50%
.markdown-preview
  +absolute(right 0, top 30px)
  width: 50%
  +rem('padding-left', 20px)
  +box-sizing(border-box)
.staff-fields__body
  width: 100%
  +rem('min-height', 260px)
  +border(all, 1px solid $black)
  +box-sizing(border-box)
  +rem('margin-top', -1px)
  resize: none
  +rem('padding', 4px 6px)
  +text-block(16px, 1.8)
.staff-fields__text
  width: 50%
  +border(all, 1px solid $black)
  +text-block(16px 30px)
  +rem('padding', 0 6px)
  +box-sizing(border-box)
.staff-fields__tags
  +rem('margin-bottom', 16px)
  +clearfix
  li
    display: block
    float: left
    +border(all, 1px solid rgba(0, 0, 0, .4))
    +rem('margin-right', 10px)
    +rem('padding', 4px 8px)
    +rem('margin-bottom', 6px)
.tag-add-button
  clear: both
