defaults: &defaults
  new_contact:
    from: "xxxxx@xxxxx.com"
    to: "xxxxxx@xxxxxx.jp"

development:
  <<: *defaults
  action_mailer:
    user_name: "xxxxx@xxxxxx.com"
    password: "xxxxxxxxx"
    domain: "xxxxxx.jp"
    host: "xxxxxxx.jp"

test:
  <<: *defaults
  action_mailer:
    user_name: "xxxxxxx@xxxxxx.com"
    password: "xxxxxxxx"
    domain: "localhost:3000"
    host: "localhost:3000"

production:
  <<: *defaults
  action_mailer:
    user_name: "xxxxxxx@xxxxxx.com"
    password: "xxxxxxxx"
    domain: "localhost:3000"
    host: "localhost:3000"
