%header.main__header
  %h2.main__header-heading
    = t('Editing Snippet')
  = link_to staffs_snippets_path, {:class => "main__header-add-link large-button"} do
    %i.fa.fa-reply
    = t('Back To Snippets')

.main__body
  = render 'form'
