@charset "utf-8"

.large-button
  +button-basic
  background-color: $blue
  color: $white
  +rem('padding', 10px 16px)

.small-button
  +small-button
  &.edit
    background-color: $yellow
    color: $black
  &.delete
    background-color: $red
  &.disable
    background-color: $gray
  &.published-disable
    background-color: transparent
    border: $blue 1px solid
    color: $blue

.tag-delete-button
  +small-button(22px, 22px, $red)
