@charset "utf-8"

=button-basic
  +inline-block
  +box-sizing(border-box)
  text-decoration: none
  +border-radius(4px)

.large-button
  +button-basic
  background-color: $blue
  color: $white
  +rem('padding', 10px 16px)


