<% unless @attached_image.errors.any? %>
  $('#attached_images').append( '<%= escape_javascript(
    render @attached_image
  ) %>' );
  $('#new-attached_image-form-container').find('input:not(:submit),select,textarea').val('');
<% else %>
  var $form = $('#new_attached_image'),
      $errorDiv = $('<div id="error_explanation">'),
      $errorList = $('<ul>');
  <% @attached_image.errors.full_messages.each do |msg| %>
    $errorList.append('<li><%= escape_javascript msg %></li>');
  <% end %>
  $form.find('#error_explanation').remove();
  $form.prepend($errorDiv.append($errorList));
<% end %>
