<h1>Listing attached_images</h1>

<table id='attached_images'>
  <tr>
    <th>Subject</th>
    <th>Body</th>
    <th>Attachment</td>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render @attached_images %>
</table>

<br />

<%= render 'new_attached_image_links' %>
