<table>
  <tr>
    <th>Subject</th>
    <th>Body</th>
    <th>Attachment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render @attached_image %>
</table>

<br />

<%= link_to 'Back', staffs_attached_images_path %>
