.global-nav
  +rem('padding-top', 40px)
  @extend .clearfix
  +transition-duration(.05s)
  &.is-fixed
    +rem('padding-top', 10px)
    background-color: $white
    z-index: 3
    +box-shadow(rgba(0, 0, 0, .2) 0 1px 1px)
    .global-nav__li
      width: 16%
    .global-nav__link
      border-bottom: none
      +rem('padding-bottom', 10px)
      text-align: center
      +rem('line-height', 34px)
  *
    +transition-property(all)
    +transition-duration(.05s)
.global-nav__logo-link
  +inline-block
  color: $white
  text-align: center
  text-decoration: none
  +rem('line-height', 34px)
  +rem('font-size', 28px)
  +tauri
  font-weight: bold
.global-nav__li
  display: block
  width: 20%
.global-nav__link
  text-decoration: none
  border-bottom: 2px solid $gray-l
  display: block
  font-weight: bold
  color: $gray-l
  text-align: right
  +tauri
  +text-block($lg, 1)
  &:hover
    color: darken($gray-l, 18%)
    border-bottom: 2px solid darken($gray-l, 18%)
  &.is-current
    color: $black
    border-bottom: 2px solid $black
    cursor: default
