.staff-nav
  +fixed(left, 0, bottom, 0)
  background-color: rgba(0, 0, 0, .8)
  color: $white
  +border-top-right-radius(8px)
.staff-nav__items
  @extend .reset-ul
.staff-nav__item
  +inline-block
  +rem('padding', 12px 0 12px 18px)
  &:last-child
    +border-top-right-radius(8px)
    +rem('padding-right', 18px)
.staff-nav__link
  text-decoration: none
  display: block
  color: $white

