.pagination
  clear: both
  a,
  .current,
  .gap
    display: block
    +tauri
    float: left
    margin-right: -1px
  a,
  .current
    border: $black + 200 solid 1px
    +rem('font-size', 12px)
    +rem('width', 32px)
    +rem('height', 32px)
    text-align: center
    +rem('line-height', 32px)
    text-decoration: none
  a
    background-color: $white
    color: $black
  .current
    background-color: $pink
    color: $white
    border: rgba(0, 0, 0, .2) solid 1px
    +relative(2)
  .gap
    +inline-block
    +rem('padding-left', 10px)
    +rem('padding-right', 10px)
    color: $black + 100
  .first,
  .last
    a
      background-color: $black + 200
      color: $black
      border: rgba(0, 0, 0, .1) solid 1px
      +relative(2)
  .first a
    +border-left-radius(4px)
  .last a
    +border-right-radius(4px)
