%h1 Listing categories

%table
  %tr
    %th Title
    %th Slug

  - @categories.each do |category|
    %tr
      %td= category.name
      %td= category.slug

- for category in @categories
  = category.name
  %ul
    - for post in category.posts
      %li= post.title
