- content_for :page_title do
  CATEGORIES

%table
  %tr
    %th Title
    %th Slug

  - @categories.each do |category|
    %tr
      %td= category.name
      %td= category.slug

- for category in @categories
  = category.name
  %ul
    - for article in category.articles
      %li= article.title
