%header.main__header
  %h2.main__header-heading
    = t('Editing Staff')
  = link_to staffs_staffs_path, {:class => "main__header-add-link large-button"} do
    %i.fa.fa-reply
    = t('Back To Staffs')
.main__body
  = render 'form'
