%nav.global-nav.wrapper#global-nav
  %ul.horizontal-list.global-nav__ul
    %li.global-nav__li
      =link_to "HOME", root_path, {:class => "js-pjax global-nav__link"}
    %li.global-nav__li
      =link_to "SERVICE", "/pages/service", {:class => "js-pjax global-nav__link"}
    %li.global-nav__li
      =link_to "MEMBERS", "/members", {:class => "js-pjax global-nav__link"}
    %li.global-nav__li
      =link_to "BLOG", "/categories/blog", {:class => "js-pjax global-nav__link"}
    %li.global-nav__li
      =link_to "CONTACT", "/pages/contact", {:class => "js-pjax global-nav__link"}
