%nav.global-nav.wrapper#global-nav
  %ul.horizontal-list.global-nav__ul
    %li.global-nav__li
      =link_to "HOME", "/", {:class => "js-pjax global-nav__link"}
    %li.global-nav__li
      =link_to "SERVICE", "/service#global-nav", {:class => "js-pjax global-nav__link"}
    %li.global-nav__li
      =link_to "MEMBERS", "/members#global-nav", {:class => "js-pjax global-nav__link"}
    %li.global-nav__li
      =link_to "BLOG", "/category/blog/#global-nav", {:class => "js-pjax global-nav__link"}
    %li.global-nav__li
      =link_to "CONTACT", "/contact#global-nav", {:class => "js-pjax global-nav__link"}
