%aside.side-column.blog-navs
  %h1.side-column__first-heading
    BLOG
  %ol
    - @articles_by_month.each do |monthname, article|
      %li
        = link_to "/month/#{monthname}" do
          = monthname
