%aside.side-column.blog-navs.js-content-height
  .blog-navs-tags
    %h1.side-column__first-heading
      Tags
    %ul.blog-navs-tags__tags
      - tag_cloud(@tags, %w()) do |tag|
        %li.blog-navs-tags__tag
          = link_to tag.name, "/tags/#{tag.name}",{:class => "blog-navs-tags__tag-link"}
  .blog-navs-archives
    %h1.side-column__first-heading
      Archive
    %ol.blog-navs-archives__archives
      - @articles_by_month.each do |month, articles|
        %li.blog-navs-archives__archive<>
          = link_to month, "/archives/#{month}", {:class => "blog-navs-archives__archive-link", "data-no-turbolink" => "1"}
