%aside.side-column.blog-navs
  %h1.side-column__first-heading
    Tags
  %ul.blog-navs-tags__tags
    - tag_cloud(@tags, %w()) do |tag|
      %li.blog-navs-tags__tag
        = link_to tag.name, "/tags/#{tag.name}",{:class => "blog-navs-tags__tag-link"}

  %h1.side-column__first-heading
    Archive
  %ol.blog-navs-archives__archives
    - @articles_by_month.each do |month, articles|
      %li
        = link_to month, month_path(month)
