@import //netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css
@import url(//fonts.googleapis.com/css?family=Tauri)

=base-fonts
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Helvetica, Arial, Verdana, sans-serif
  *font-family: "ＭＳ Ｐゴシック", "Lucida Sans Unicode", sans-serif
  -webkit-font-smoothing: antialiased

=fa
  display: inline-block
  font-family: FontAwesome
  font-style: normal
  font-weight: normal
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

=tauri
  font-family: 'Tauri', sans-serif
