%header.main__header
  %h2.main__header-heading
    = t('Editing service')
  = link_to staffs_services_path, {:class => "main__header-add-link large-button"} do
    %i.fa.fa-reply
    = t('Back To Service')
.main__body
  = render 'form'
